@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
/* Profile */
.topicon {
  width: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(22,26,64,1) 100%, rgba(222,222,222,1) 100%);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 6px 0px;
}
.topicon .user {
  margin-right: 40px;
  color: #ffffff;
  transition: all 0.3s;
}
.topicon .user .pro {
  font-size: 18px;
}
.topicon .user:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
} /* Navigation Bar */
.wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
}
.wrapper span {
  font-size: 32px;
  font-weight: 800;
  color: rgb(49, 49, 49);
  font-family: "Poppins", sans-serif;
}
.wrapper span span {
  color: #2980b9;
}
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
nav {
  padding: 0rem;
  border-radius: 0.4rem;
}
nav .logo {
  font-weight: 700;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  font-size: 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}
nav a:hover {
  color: #2980b9;
}
nav #toggle,
nav label {
  display: none;
}
@media (max-width: 40.625em) {
  .wrapper font {
    font-size: 25px;
  }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: rgb(34, 34, 34);
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}
.add1 {
  margin-top: -10px;
  width: 100%;
  height: 450px;
  background-image: url(https://images.unsplash.com/photo-1549298916-b41d501d3772?q=80&w=1412&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  animation-name: addvertise;
  animation-duration: 30s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes addvertise {
  0% {
    background-image: url(https://images.unsplash.com/photo-1567958451986-2de427a4a0be?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHNob2VzJTIwc3RvcmV8ZW58MHx8MHx8fDA%3D);
  }
  25% {
    background-image: url(https://images.unsplash.com/photo-1569664665343-eb9b3948bdbb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }
  50% {
    background-image: url(https://images.unsplash.com/photo-1443884590026-2e4d21aee71c?q=80&w=1443&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }
  75% {
    background-image: url(https://images.unsplash.com/photo-1662063386711-4ea396cccebf?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }
  100% {
    background-image: url(https://images.unsplash.com/photo-1472851294608-062f824d29cc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fHNob2VzJTIwc3RvcmUlMjBzYWxlfGVufDB8fDB8fHww);
  }
}
.mwk {
  width: 100%;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  cursor: pointer;
}
.mwk .men {
  width: 33.3%;
  overflow: hidden;
}
.mwk .men img {
  height: 260px;
  max-width: 100%;
  width: 100%;
  transition: all 0.3s;
  transform: scale(1);
}
.mwk .men:hover img {
  transform: scale(1.1);
}
.mwk .women {
  width: 33.3%;
  overflow: hidden;
}
.mwk .women img {
  height: 260px;
  max-width: 100%;
  width: 100%;
  transition: all 0.3s;
  transform: scale(1);
}
.mwk .women:hover img {
  transform: scale(1.1);
}
.mwk .kid {
  width: 33.3%;
  overflow: hidden;
}
.mwk .kid img {
  height: 260px;
  max-width: 100%;
  width: 100%;
  transition: all 0.3s;
  transform: scale(1);
}
.mwk .kid:hover img {
  transform: scale(1.1);
}
.roko {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.roko .mwktext {
  font-size: 28px;
  font-family: arial;
  font-weight: 800;
  color: white;
  position: relative;
  top: -135px;
}

.product-heading {
  font-family: "open sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.collection .cat {
  margin: 70px 40px 0px 40px;
  background: linear-gradient(0deg, rgba(173,173,173,1) 0%, rgba(22,26,66,1) 100%);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.collection .cat .gig {
  padding: 18px 22px;
  height: auto;
  width: 240px;
  margin: 20px 0px;
  flex-shrink: 1;
  background: linear-gradient(
    0deg,
    rgba(173, 173, 173, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 10px;
}
.collection .cat .gig a {
  text-decoration: none;
  color: black;
}
.collection .cat .gig img {
  object-fit: cover;
  width: 100%;
  box-shadow: 10px 10px 15px gray;
  border: 0px solid;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}
.collection .cat .gig img:hover {
  transform: scale(1.02);
}
.collection .cat .gig .t {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.collection .cat .gig .t:hover {
  color: #d35400;
  transition: all 0.3s ease;
  cursor: pointer;
}
.collection .cat .gig del {
  color: grey;
}
.collection .cat .gig .rs {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.collection .cat .gig button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  height: 33px;
  width: 105px;
  background-color: #909497;
  border: transparent;
  border-radius: 20px;
  transition: all 0.2s;
}
.collection .cat .gig button:hover {
  cursor: not-allowed;
  border: 1px solid black;
  background-color: #bdc3c7;
}
.collection .cat .gig button:active {
  background-color: black;
  color: white;
}
.brandlogo {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}
.brandlogo > span {
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.brand-images {
  background-color: yellow;
  display: flex;
  justify-content: center;
}
.brand-images > img {
  mix-blend-mode: darken;
  height: 300px;
}


.gallery {
  height: 145px;
  width: 500px;
  margin: 100px auto;
  position: relative;
  top: 20px;
}

.gallery img {
  height: 200px;
  position: absolute;
  left: 0;
  offset-path: path('m 0 50 q 50-30 100-30 t 100 30 100 0 100-30 100 30');
  box-shadow: 1px 1px 3px #0008;
  transition: transform .4s ease-out, offset-path .4s cubic-bezier(.77,-1.17,.75,.84),box-shadow .3s, z-index .3s;
  z-index: 0;
}

.gallery img:hover {
  transform: scale(1.5);
  offset-path: path('m 5 65 q 45-0 90-0 t 90 0 90 0 90-0 90 0');
  box-shadow: 3px 4px 10px #0006;
  z-index: 999;
}

/* 3 images */
.gallery img:nth-last-child(3):first-child {
  offset-distance: 17%;
}
.gallery img:nth-last-child(2):nth-child(2) {
  offset-distance: 49%;
}
.gallery img:last-child:nth-child(3) {
  offset-distance: 81%;
}

/* 4 images */
.gallery img:nth-last-child(4):first-child {
  offset-distance: 10%;
}
.gallery img:nth-last-child(3):nth-child(2) {
  offset-distance: 35%;
}
.gallery img:nth-last-child(2):nth-child(3) {
  offset-distance: 65%;
}
.gallery img:last-child:nth-child(4) {
  offset-distance: 90%;
}

/* 5 images */
.gallery img:nth-last-child(5):first-child {
  offset-distance: 0%;
}
.gallery img:nth-last-child(4):nth-child(2) {
  offset-distance: 25%;
}
.gallery img:nth-last-child(3):nth-child(3) {
  offset-distance: 51%;
}
.gallery img:nth-last-child(2):nth-child(4) {
  offset-distance: 75%;
}
.gallery img:last-child:nth-child(5) {
  offset-distance: 100%;
}


.afp {
  margin-top: 100px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.afp .addfp {
  width: 25%;
  overflow: hidden;
  border-radius: 7px;
}
.afp .addfp img {
  object-fit: cover;
  border-radius: 7px;
  height: 260px;
  max-width: 100%;
  width: 100%;
  transition: all 0.3s;
  transform: scale(1);
}
.afp .addfp:hover img {
  transform: scale(1.1);
}
/* Footer */
.footer {
  width: 100%;
  height: 400px;
  background-color: #17202a;
  display: flex;
  justify-content: space-around;
}
.footer .sec {
  margin-top: 50px;
}
.footer .sec li {
  list-style: none;
  color: #909497;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  border-bottom: 1px solid #909497;
  padding-bottom: 5%;
  padding-top: 5%;
  cursor: pointer;
}
.footer .sec li a {
  text-decoration: none;
  color: white;
}
.footer .sec font {
  list-style: none;
  color: #909497;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  padding-left: 15px;
  cursor: pointer;
}
.footer .sec font:hover {
  color: #dfe1e2;
}
.footer .sec li .sign {
  visibility: hidden;
}
.footer .sec li:hover .sign {
  visibility: visible;
  animation-name: sign;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes sign {
  0% {
    position: relative;
    left: 0px;
  }
  50% {
    position: relative;
    left: -10px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
.footer .sec li:hover {
  color: #dfe1e2;
}
.footer .sec .tf {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 600;
}
.fa-facebook {
  padding: 13px 13px;
  font-size: 23px;
  width: 23px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3b5998;
  color: white;
}
.fa-facebook:hover {
  opacity: 0.7;
}
.fa-twitter {
  padding: 13px;
  font-size: 23px;
  width: 23px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #55acee;
  color: white;
}
.fa-twitter:hover {
  opacity: 0.7;
}
.fa-instagram {
  padding: 13px;
  font-size: 23px;
  width: 23px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-image: url(../image/instabg.jpg);
  background-size: cover;
  color: white;
}
.fa-instagram:hover {
  opacity: 0.7;
}
.sec abbr {
  font-size: 50px;
  color: #17202a;
}
.sec .top {
  color: #d0d3d4;
  padding-top: 20px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 50%;
  text-align: center;
  background-color: #2c3e50;
  position: relative;
  left: 46px;
  top: 10px;
  transition: all 0.3s;
}
.sec .top:hover {
  background-color: #3f5870;
}
.end {
  height: 70px;
  background-color: #515a5a;
}
.end span {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #bdc3c7;
  font-weight: 400;
  position: relative;
  top: 35%;
  left: 50px;
}
